body { margin: 2em;
    font-family: Verdana, Arial, sans-serif;
    color: color: pink;
    text-align: Center;
    background-color:mediumpurple;
    }

#juego {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#juego > div {
  width: 50%;
}


#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#principal {
  width: 25%;
}
#sidebar {
  width: 50%;
}


#contenedor {
 text-align: left;
 width: 100%;
 margin: auto;
}

#lateral {
 width: 20%;  /* Este será el ancho que tendrá tu columna */
 background-color: white;  /* Aquí pon el color del fondo que quieras para este lateral */
 float:right; /* Aquí determinas de lado quieres quede esta "columna" */
}

#principal {
 width: 75%;
 float: left;
 background-color:#ffbdbd;
 border:#000000 1px solid; /* ponemos un donde para que se vea bonito */
}
/* Para limpiar los floats */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
